# ***Assignment # 01 of Advance AI Course HTS by Xeven Solutions . (Basics Of Python Programming)***

# **1. Create a list named "fruits" containing three different fruits and display its items using for loop.**

In [1]:
fruits = ["apple" , "bananas" , "orange"]

for i in fruits:
  print(i)

apple
bananas
orange

# **2. Create a tuple named "numbers" with five random numbers and display its item using for loop..**

In [2]:
numbers = (1 , 5 ,2 ,76 , 23)
for i in numbers:
  print(i)

1
5
2
76
23

# **3. Create a set named "colors" with three different colors and display its items using for loop..**

In [3]:
colors = {"green" , "red" , "blue"}
for i in colors:
  print(i)

red
green
blue

# **4. Create a dictionary named "student" with the following key-value pairs:**
# o "name" as the key and the student's name as the value.
# o "age" as the key and the student's age as the value.
# o "grade" as the key and the student's grade as the value.


# **Iterate over the dictionary using the for loop and display its keys**
# **Iterate over the dictionary using the for loop and display its values**

In [15]:
student = {"name": "Owais Nadeem" , "age": 24 , "grade": 'A+' }
for key in student:
  print(f"{key} : {student[key]}" )

# but, if we want to show both of these things separately then :

print("--- Printing Keys separately---")
for key in student:
  print(key)

print("--- Printing Values separately---")
for i in student:
  print(student[i])

name : Owais Nadeem
age : 24
grade : A+
--- Printing Keys separately---
name
age
grade
--- Printing Values separately---
Owais Nadeem
24
A+

# **5. Create a multi-line string named "poem" with a short poem of your choice.**

In [16]:
poem = '''
✨ Twinkle Twinkle Little Star

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are!
 '''

print(poem)

✨ Twinkle Twinkle Little Star

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are!

# **6. Write an if statement to check if the length of the "fruits" list is greater than 3 . If it is, print "You have many fruits!".**

In [22]:

fruits = ["apple" , "bananas" , "orange" , "grapes"]

if (len(fruits) > 3):
  print("You have many fruits")

You have many fruits

# **7. Create a program that takes a student's numerical grade as input and prints a corresponding letter grade. Use if-else statements to classify the grade into categories such as "A," "B," "C," "D," or "F."**

o If the numerical grade is 90 or higher, the corresponding letter grade is "A."

o If the numerical grade is between 80 and 89 (inclusive), the corresponding
letter grade is "B."

o If the numerical grade is between 70 and 79 (inclusive), the corresponding
letter grade is "C."

o If the numerical grade is between 60 and 69 (inclusive), the corresponding
letter grade is "D."

o If the numerical grade is below 60, the corresponding letter grade is "F.".**

In [23]:
# Taking numerical grade input from the user
grade = int(input("Enter the student's numerical grade: "))

# Checking and printing the corresponding letter grade
if grade >= 90:
    print("The letter grade is: A")
elif grade >= 80:
    print("The letter grade is: B")
elif grade >= 70:
    print("The letter grade is: C")
elif grade >= 60:
    print("The letter grade is: D")
else:
    print("The letter grade is: F")

Enter the student's numerical grade: 45
The letter grade is: F

# **8. Create a program that takes a temperature in Celsius as input from user and classifies it into categories like "Freezing," "Cold," "Moderate," "Warm," or "Hot." Use if-else statements to define the temperature ranges for each category.**

o If the temperature is below -10 degrees Celsius, it's classified as "Freezing"

o If the temperature is between -10 and 0 degrees Celsius (exclusive), it's
classified as "Cold."

o If the temperature is between 0 and 20 degrees Celsius (exclusive), it's
classified as "Moderate."

o If the temperature is between 20 and 30 degrees Celsius (exclusive), it's
classified as "Warm."

o If the temperature is 30 degrees Celsius or above, it's classified as "Hot."

In [24]:
# Taking temperature input from the user
temperature = float(input("Enter the temperature in Celsius: "))

# Classifying the temperature
if temperature < -10:
    print("The temperature is: Freezing")
elif -10 <= temperature < 0:
    print("The temperature is: Cold")
elif 0 <= temperature < 20:
    print("The temperature is: Moderate")
elif 20 <= temperature < 30:
    print("The temperature is: Warm")
else:  # temperature >= 30
    print("The temperature is: Hot")

Enter the temperature in Celsius: 56.43
The temperature is: Hot